.main-container-tutor-show {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.tutor-show-info {
  width: 300px;
}

.tutor-show-bio {
  width: 300px;
  border: 1px solid yellow;
  border-radius: 8px;
  padding: 16px;
}

.tutor-show-reviews {
  display: flex;
  justify-content: space-between;
}
