<div class="banner">
  <div class="banner-content text-center">
    <h1>Unlock Your Learning Potential With Find A Tutor</h1>
    <p>Discover a World of Learning Opportunities and unlock your potential.</p>
     <a href="/users/sign_up" class="btn btn-secondary">Create an Account</a>
     <a href="/tutors/new" class="btn btn-secondary">Become a tutor</a>
  </div>
</div>
<%# <div class="banner">
<div class="container">
<h1><strong>Unlock Your Learning Potential With</strong> Find A Tutor</h1>
<p>Discover a World of Learning Opportunities and unlock your potential.</p>
<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
<a class="btn btn-flat" href="#">Create Account</a>
</form>
</div>
</div>
<div class="spacer"></div>
<div>
<div class="container-skill">
<a class="btn btn-gradient" href="#">Logo Design</a>
<a class="btn btn-gradient" href="#">Photography</a>
<a class="btn btn-gradient" href="#">Guitar Lessons</a>
<a class="btn btn-gradient" href="#">Financial Mathematics</a>
<a class="btn btn-gradient" href="#">Illustration</a>
</div>
</div>

<div class="footer-copyright">
Copyright © 2023 FindTutor. All rights reserved
</div>
</div> %>