<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593698054498-56898cbad8af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80);">
  <div class="container">
    <h1><strong>Unlock Your Learning Potential With</strong> Find A Tutor</h1>
    <p>Discover a World of Learning Opportunities and unlock your potential.</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <a class="btn btn-flat" href="#">Create Account</a>

</form>
  </div>
</div>

<div class="spacer"></div>

<div>
  <div class="container-skill">
    <a class="btn btn-gradient" href="#">Logo Design</a>
    <a class="btn btn-gradient" href="#">Photography</a>
    <a class="btn btn-gradient" href="#">Guitar Lessons</a>
    <a class="btn btn-gradient" href="#">Financial Mathematics</a>
    <a class="btn btn-gradient" href="#">Illustration</a>


    <%# <a class="btn btn-gradient" href="#">Organic Chemistry</a>
    <a class="btn btn-gradient" href="#">African Languages</a>
    <a class="btn btn-gradient" href="#">Chess</a>
    <a class="btn btn-gradient" href="#">Painting</a>
    <a class="btn btn-gradient" href="#">Calculus</a> %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  Copyright © 2023 FindTutor. All rights reserved
  </div>
</div>



<figure class="profile_card">
  <figure class="profile_card hover"><img src="https://res.cloudinary.com/daewg6dpy/image/upload/v1687005451/katleho_vhki14.jpg" alt="sample74" />
    <figcaption>
      <h2>Katleho Zonke</h2>
      <h3>Illustration, Photography</h3>
      <a href="#" class="follow">Reviews</a>
      <a href="#" class="info">Show More</a>
    </figcaption>
  </figure>
</figure>
