<div class="banner">
  <div class="main-banner-content text-center">
    <h1>Unlock Your Learning Potential With FindATutor</h1>
    <p>Discover the limitless possibilities of web development with FindATutor and embark on a transformative
    journey by finding the perfect tutoring match for your web development aspirations.</p>

  <% if current_user.nil? %>
   <a href="/students/new" class="btn btn-secondary">Become a Student</a>
   <a href="/tutors/new" class="btn btn-secondary">Become a Tutor</a>
<% elsif user_is_student?(current_user) %>
   <a href="/tutors" class="btn btn-secondary">Browse Tutors</a>
<% elsif user_is_tutor?(current_user) %>
   <a href="/students" class="btn btn-secondary">Browse Students</a>
<% end %>

  </div>
</div>



<%# <div class="footer-copyright">
Copyright © 2023 FindTutor. All rights reserved
</div>
</div> %>
