.about-us {

padding: 40px;
  color: rgb(0, 0, 0);
  background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80');


}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3{
  color: #000000;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #ffffff;
}
ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}
