.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1617900906639-cab7adceb499?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  color: gold;
}

.banner h1 {
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(210, 200, 200);
  color: #ffffff;
}

.banner p {
  font-size: 1rem;
  color: #ffffff;
}
