.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/programmer-man-wearing-headphones-typing-binary-code-website-security-working-remote-frrom-home-african-american-it-developer-writing-infographics-javascript-programming-firewall-server_482257-35575.jpg?w=1800&t=st=1687861815~exp=1687862415~hmac=46ce9191dd6cb69aa839d478be5d6b2e158ede530c4abddab17887f6ff5c03af");
  background-size: cover;
  background-position: center;
  color: gold;
}
