.black-btn{
  background-color: #f9d949;
  padding: 10px;
  border-radius: 8px;
  color: white;
  width: 104px;
}

.custom-button {
  background-color: transparent;
  border: 2px solid yellow;
  color: black;
}

.custom-button:hover {
  background-color: black;
  color: white;
}
