.container.chatroom {
  color: black;
  background-color: rgb(255, 184, 5);
  padding: 20px;
}

.container.chatroom h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container.chatroom .messages {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.container.chatroom .message {
  padding: 10px;
  background-color: green;
  margin-bottom: 10px;
}

.container.chatroom .message p {
  margin: 0;
  background-color: black
}

.container.chatroom .notice {
  color: black;
  background-color: black;
  padding: 10px;
  margin-bottom: 20px;
}

.chatroom .message-input input[type="text"] {
  flex: 1;
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
}

.send-button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  height: 62px;
}

.container.chatroom .send-button:hover {
  background-color: rgb(255, 184, 5);
}
