.lesson-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .lesson-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .lesson-container p {
    margin: 5px 0;
    color: #000;
  }

  .lesson-container strong {
    font-weight: bold;
  }

  .back-link {
    display: block;
    margin-top: 20px;
  }

  .card-body-lessons {
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1587463646075-888e8afef90e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4px;
    border-radius: 5px;
    height: 330px;
  }

  .card-body-lessons h3 {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    color: #a6ff00;
    text-shadow: 1px 1px 2px rgba(174, 255, 0, 0.5);
    font-family: 'Arial', sans-serif;
}

  .card-body-lessons p {
      margin-top: 130px;
      margin-left: 85px;
      color: #000000;
      font-size: 18px;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
      font-family: 'Georgia', serif;
  }




    .lesson {
      margin-bottom: 20px;
      background-color: #ebe1e1;
    }

  .lesson p {
    margin: 5px 0;
  }

  h1 {
    text-align: center;
  }

  .lesson-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.lesson-title {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}

.lesson-card {
    border-color: #6c757d;
}

.lesson-card .card-body {
    color: #333;
}

.back-link {
    color: #fff;
}
