.navbar-home {
  display: flex;
  position: absolute;
  align-items: center;
  width: 100%;
  background: transparent;
  box-shadow: none;

  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }


}

.navbar-wagon {
  justify-content: space-between;
  background: white;
}

.navbar-wagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-wagon .navbar-brand img {
  width: 40px;
}
