.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 50px;
}

.form-column {
  margin: 0 20px;
  flex: 1;
}

#login-section,
#signup-section {
  background-color: rgb(255, 170, 13);
  padding: 50px;
  border-radius: 5px;
}

.form-check {
  display: inline-block;
}

.form-toggle {
  margin-top: 20px;
}

a {
  color: rgb(255, 184, 5);
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffffff;
}

h3, h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.form-inputs {
  margin-bottom: 20px;
}

.form-actions {
  text-align: center;
}
