.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 50px;
}

.form-column {
  margin: 0 20px;
  flex: 1;
}

#login-section,
#signup-section {
  background-color: rgb(255, 170, 13);
  padding: 50px;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.form-check {
  display: inline-block;
}

.form-toggle {
  margin-top: 20px;
}

a {
  color: rgb(255, 184, 5);
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: black;
}

#chatroom {
  background-color: rgb(255, 184, 5);
  padding: 10px;
}

.message {
  background-color: black;
  color: rgb(255, 184, 5);
  padding: 10px;
  margin-bottom: 10px;
}

.message p {
  margin: 0;
}

#message-form input[type="text"] {
  // background-color: rgb(121, 112, 90);
  color: black;
  padding: 5px;
}

#message-form input[type="submit"] {
  background-color: rgb(255, 184, 5);
  color: black;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.notice {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

h3, h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.form-inputs {
  margin-bottom: 20px;
}

.form-actions {
  text-align: center;
}
