body {
  background-color: #ffb406;
  color: rgb(207, 207, 195);
  margin: 0;
  padding: 0;
}

.login-container {
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}

.form-column {
  display: inline-block;
  width: 300px;
  margin: 20px;
}

#login-section,
#signup-section {
  background-color: rgb(77, 77, 49);
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  color: #898889;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.form-check {
  display: inline-block;
}

.form-toggle {
  margin-top: 20px;
}

a {
  color: yellow;
}
