.location-cards {
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.display-4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #343a40;
}

.student-banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(210, 200, 200);
  color: #ffffff;
}

.student-banner p {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgb(210, 200, 200);
  color: #ffffff;
}
